# .NET
bin/
obj/
*.csproj.user
*.suo
*.user
appsettings.Development.json
.vs/

# Angular
node_modules/
dist/
*.log
.angular/
.history/
.angular/cache

# Python/Flask
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# IDE and OS files
.vscode/
.idea/
.DS_Store
